body {
  background-color: rgba(45, 61, 80, 255);
  padding: 20px;
  margin: 0;
}

h1,
h2,
p,
ul,
li {
  font-family: sans-serif;
}

h1 {
  color: white;
  text-align: center;
}

h2 {
  color: white;
  float: left;
  padding-top: 20px;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding-right: 25px;
}

ul.header {
  padding: 0;
  margin-bottom: 0px;
  visibility: visible;
}

ul.header.footer {
  text-align: center;
}

ul.header.footer li a:hover {
  text-decoration: underline;
}

ul.header.footer li a {
  font-size: 22px;
}

ul.header li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

ul.header li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

.content {
  /* background-color: #fff; */
  padding: 20px;
  padding-top: 0px;
  padding-left: 0px;
}

.content h2 {
  padding: 0;
  margin: 0;
  padding-top: 20px;
}

.content li {
  margin-bottom: 10px;
}

.home-content {
  clear: both;
  padding-top: 10px;
  color: white;
  font-size: 20px;
}

.home-content p {
  font-family: "Courier New", Courier, monospace;
}

.active {
  background-color: lightseagreen;
}

/* .modal {
  position: fixed;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  z-index: 1;
  align-items: center;
  text-align: center;
  width: 30%;
  height: 30%;
  overflow: auto;
  background-color: rgb(255, 255, 255);
  padding-top: 60px;
} */

.login-form {
  width: 50vw;
}

.form {
  font-family: sans-serif;
}

.input-container {
  padding: 10px;
}

.content h2 {
  text-transform: uppercase;
  text-align: center;
  font-family: serif;
  font-size: 2em;
}

.input-container input {
  width: 97%;
  height: 2em;
  border: 1px solid #0099ff;
  border-radius: 15px;
}

.input-container.moderator-analyst {
  width: 25%;
}

.input-container label {
  font-weight: bold;
  text-transform: uppercase;
  color: white;
}

.modal {
  border-radius: 1em;
}

form button {
  width: 200px;
  height: 2.5em;
  text-transform: uppercase;
  margin-top: 1em;
  background: #0099ff;
  border: none;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  font-size: 0.9em;
  margin-left: 0.7em;
}

form button:hover {
  cursor: pointer;
}

.search-submit-container {
  width: 50vw;
}

/* Search Results Layout */
#searchResultDiv {
  margin-top: 1em;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0099ffc8;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}

/* SearchResults > Modal */
#detailModal {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(77, 77, 77, 0.7);
  transition: all 0.4s;
}

#detailModal:target {
  visibility: visible;
  opacity: 1;
}

#modalBody {
  border-radius: 4px;
  position: relative;
  width: 500px;
  max-width: 90%;
  background: #fff;
  padding: 1em 2em;
}

#modalBody h3 {
  text-align: center;
}

#modalBody label {
  color: #000;
}

#modalBody button {
  color: black;
}

#modalFooter {
  text-align: right;
}
#modalFooter a {
  color: #585858;
}
#modalFooter i {
  color: #d02d2c;
}
#closeModal {
  color: #585858;
  position: absolute;
  right: 10px;
  text-decoration: none;
  top: 1px;
  font-size: 39px;
}
.view-modal-link {
  text-decoration: none;
  text-transform: uppercase;
}

/* Dashboard Table Filter Buttons */
.buttons button {
  background: #0099ffc8;
  color: white;
  text-transform: uppercase;
  padding: 6px;
  border-radius: 3px;
  border: 1px solid;
  margin: 5px;
  margin-left: 0;
}
