body {
  background-color: #ffcc00;
  padding: 20px;
  margin: 0;
}
h1,
h2,
p,
ul,
li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #fff;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.active {
  background-color: #0099ff;
}

/* .modal {
  position: fixed;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  z-index: 1;
  align-items: center;
  text-align: center;
  width: 30%;
  height: 30%;
  overflow: auto;
  background-color: rgb(255, 255, 255);
  padding-top: 60px;
} */

.login-form {
  width: 50vw;
}

.form {
  font-family: sans-serif;
}

.input-container {
  padding: 10px;
}

.content h2 {
  text-transform: uppercase;
  text-align: center;
  font-family: serif;
  font-size: 2em;
}

.input-container input {
  width: 97%;
  height: 2em;
  border: 1px solid #0099ff;
  border-radius: 5px;
}

.input-container label {
  font-weight: bold;
  text-transform: uppercase;
}

.pendingTable{
  width: 50%;
  display: inline-block;
  vertical-align: top;
}

.containerTable{
  overflow: auto;
  margin:0%
}

.allTable{
  width:48%;
  display: inline-block;
  vertical-align: top;
  margin-left: 20px;
}

.modal {
  border-radius: 1em;
}

form button {
  width: 200px;
  height: 2.5em;
  text-transform: uppercase;
  margin-top: 1em;
  background: #0099ff;
  border: none;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  font-size: 0.9em;
  margin-left: 0.7em;
}

.search-submit-container {
  width: 50vw;
}

/* Search Results Layout */
#searchResultDiv {
  margin-top: 1em;
}

table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #0099ffc8;
  color: white;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #ddd;
}




