body {
  background-color: #FFCC00;
  padding: 20px;
  margin: 0;
}
h1, h2, p, ul, li {
  font-family: sans-serif;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #111;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #FFF;
  padding: 20px;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}
.active {
  background-color: #0099FF;
}

.modal {
  position: fixed;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
  z-index: 1;
  align-items: center;
  text-align: center;
  width: 30%;
  height: 30%;
  overflow: auto;
  background-color: rgb(255, 255, 255);
  padding-top: 60px;
}

.form{
  font-family: sans-serif;
}
.input-container{
  padding: 10px
}